@import url('https://fonts.googleapis.com/css?family=Signika+Negative');

body {
	font-family: 'Signika Negative', sans-serif;
	font-size: 1.5em !important;
	background: #E5ECE9;

}

h5 {
	text-align: center;
}

.card-text {
	text-align: justify;
}

.jumbotron {
	border-radius: 0px !important;
	background-color: white;
}

.fundo--bg {
	background-color: #007bff !important;
}

.nav-link {
	color: white !important;
}

.gradiente {
	background-image: linear-gradient(to left, #BD0227, #500287);
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}
